@{
    ViewBag.Title = "Home Page";
}
@*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
@*
    參考資訊
    https://gruhn.github.io/vue-qrcode-reader/
    https://www.npmjs.com/package/vue-qrcode-reader
    https://webrtc.github.io/samples/
    https://medium.com/parenting-tw/qrcode-scanner-with-vuejs-a69335cf9197
*@
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/node_modules/vue-qrcode-reader/dist/vue-qrcode-reader.css" />
<script src="~/node_modules/vue/dist/vue.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>*@
<script src="~/node_modules/vue-qrcode-reader/dist/vue-qrcode-reader.common.js"></script>
<script src="~/node_modules/vue-qrcode-reader/dist/vue-qrcode-reader.browser.js"></script>

<div id="app">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-4">
                    <button @@click="showDialog('scan-component')" class="btn btn-primary btn-sm btn-block"><i class="fa fa-camera" aria-hidden="true"></i> 開啟鏡頭</button>
                </div>
                <div class="col-4">
                    <button @@click="showDialog('closescan-component')" class="btn btn-secondary btn-sm btn-block"><i class="fa fa-ban" aria-hidden="true"></i> 關閉鏡頭</button>
                </div>
                <div class="col-4 align-self-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" @@click="closeBB" id="linksNewWindow">
                        <label class="form-check-label" for="linksNewWindow">
                            靜音掃描
                        </label>
                    </div>
                </div>
            </div>
            <hr />
                <component :is="isA" @@count="parentCount" @@decoded_content="parentDecodedContent" ></component>
            <br />
        </div>
        <div class="col-lg-6">
            @using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;存&nbsp;檔
                        </button>
                        <input type="hidden" id="HTTPURL" name="HTTPURL" :value="decodedContent">
                        <input type="hidden" id="sc" name="sc" :value="camera">
                        <input type="hidden" id="dfcamera" name="dfcamera" :value="isA">
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-outline-success btn-sm btn-block">
                            已掃描 <span class="badge badge-light" style="color:red">{{count}}</span>筆
                            <span class="sr-only">unread messages</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <div @@click="clearData" class="btn btn-danger btn-sm btn-block">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> 清除資料
                        </div>
                        @*<div @@click="clearData" class="btn btn-danger btn-sm btn-block">
            <i class="fa fa-trash-o" aria-hidden="true"></i>清除資料
        </div>*@
                    </div>
                </div>
                <hr />

                <textarea class="form-control" style="min-width: 100%; min-height:400px" readonly="readonly" id="HTTPURL">{{ decodedContent }}</textarea>
            }
        </div>

    </div>


</div>

@section Scripts{
    @Html.Raw(@TempData["alert"])
}

<script type="text/javascript">
    function setCookie(c_name, value, expiredays) {
        var exdate = new Date()
        exdate.setDate(exdate.getDate() + expiredays)
        document.cookie = c_name + "=" + escape(value) + ((expiredays == null) ? "" : ";expires=" + exdate)
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=")
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return null
    }
    onload = function () {
        document.getElementById('linksNewWindow').checked = getCookie('linksNewWindow') == 1 ? true : false;
    }
    function set_check() {
        setCookie('linksNewWindow', document.getElementById('linksNewWindow').checked ? 1 : 0, 100);
    }
</script>

<script type="text/x-template" id="scan-component">
    <div>
        <p class="error" v-if="noFrontCamera">
            偵測不到後置鏡頭,請嘗試切換鏡頭
        </p>
        <p class="error" v-if="noRearCamera">
            偵測不到前置鏡頭,請嘗試切換鏡頭
        </p>
        @*<qrcode-stream :camera="camera" @@decode="onDecode" @@init="onInit"></qrcode-stream>*@
        <qrcode-stream :camera="camera" @@decode="onDecode" @@init="onInit">
        <button @@click="switchCamera">
            <i class="fa fa-refresh" aria-hidden="true"></i> 切換鏡頭
            </button>
        </qrcode-stream>
    </div>
</script>


<script type="text/x-template" id="closescan-component">
    <div>
        <b>鏡頭關閉中!</b>
    </div>
</script>





<script>
    Vue.component("scan-component", {
        data() {
            return {
                decodedContent: '',
                errorMessage: '',
                count: 0 ,
                camera: '@ViewData["sc"]',

                noRearCamera: false,
                noFrontCamera: false,
                bbmp3: false,
            }
        },
        methods: {
            switchCamera() {
                // alert(document.getElementById('sc').value);
                switch (this.camera) {
                    case 'front':
                        setCookie('sc', 'rear', 100);
                        this.camera = 'rear',
                            this.noRearCamera = false,
                            this.noFrontCamera = false
                        break
                    case 'rear':
                        setCookie('sc', 'front', 100);
                        this.camera = 'front',
                            this.noRearCamera = false,
                            this.noFrontCamera = false
                        break
                }
            },
            onDecode(content) {
                if (getCookie('count') == 0) {
                  /*  alert('getCookie  0');*/
                    this.count = 0;
                    this.decodedContent = '';
                }
                //this.decodedContent = content   //content.includes('http')
                if (content.length >1) {
                    var bbmp = getCookie('linksNewWindow') == 1 ? true : false;

                    if (this.count < 1) {
                        this.decodedContent = content;
                    } else {
                        this.decodedContent = content + '\r\n' + this.decodedContent;
                    }

                    if (!bbmp) {
                        var audio = new Audio('/mp3/bb.mp3');
                        audio.play();
                    }

                    this.count++;
                    setCookie('count', this.count, 100);
                    this.$emit('count', this.count);
                    this.$emit('decoded_content', this.decodedContent);
                }
            },
            async onInit(promise) {
                try {
                    await promise
                } catch (error) {
                    const triedFrontCamera = this.camera === 'front'
                    const triedRearCamera = this.camera === 'rear'

                    const cameraMissingError = error.name === 'OverconstrainedError'

                    if (triedRearCamera && cameraMissingError) {
                        this.noRearCamera = true

                    }

                    if (triedFrontCamera && cameraMissingError) {
                        this.noFrontCamera = true

                    }
                }
            }
        },
        template: '#scan-component'
    });
    Vue.component("closescan-component", {
        data() {
            return {
                decodedContent: '',
            }
        },
        template: '#closescan-component'
    });




    var app = new Vue({
        el: '#app',
        data() {
            return {
                decodedContent: '',
                errorMessage: '',
                count: 0,
                camera:'@ViewData["sc"]',
                isA: '@ViewData["dfcamera"]'
            }
        },
        methods: {
            parentDecodedContent(decodedContent) {
                this.decodedContent = decodedContent;
            },
            clearData() {
                this.decodedContent = '';
                this.errorMessage = '';
                this.count = 0;
                setCookie('count',0, 100);
            },
            parentCount(count) {
                this.count = count;
            },
            showDialog(visible) {
                this.isA = visible;
            },
            closeBB() {
                setCookie('linksNewWindow', document.getElementById('linksNewWindow').checked ? 1 : 0, 100);
                /*this.bbmp3 == true ? this.bbmp3 = false : this.bbmp3 = true;*/
                if (this.bbmp3) {
                    this.bbmp3 = true

                } else {
                    this.bbmp3 = false
                }
                document.getElementById('linksNewWindow').checked = getCookie('linksNewWindow') == 1 ? true : false;

            }
        }
    });
</script>



<style scoped>
    .error {
        color: red;
        font-weight: bold;
    }
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>